{% extends 'base.html' %}

{% load static %}

{% block title %}Monitor{% endblock %}

{% block content %}
{% block extra_head %}
<style>
    .bg-image-container {
        position: fixed;
        width: 100%;
        height: 60%;
        z-index: -1;
        background-image: url('{% static "heroimage.png" %}');
        background-size: cover;
        background-position: center;
        filter: blur(4px);
    }
    

</style>
{% endblock %}

<div class="bg-image-container"></div>
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col">
            <h1 style="color:white">Student Set-up</h1>
        </div>
    </div>
</div>


 <!-- Welcome area -->
<div class="card p-2 m-4 shadow-lg">
    <div class="card-body">
        <h3>Hello {{ student_name }}!</h3>
        
        <h4>Add Your Classes</h4>
        <form method="POST" action="{% url 'monitor:class_select' %}">
          {% csrf_token %}
          <ul class="nav nav-tabs" id="subjectTabs" role="tablist">
            <!-- tabs based on subjects in views.py -->
              {% for subject in subjects %}
              <li class="nav-item">
                  <button class="nav-link {% if forloop.first %}active{% endif %}" 
                          id="{{ subject|slugify }}-tab" 
                          data-bs-toggle="tab" 
                          data-bs-target="#{{ subject|slugify }}" 
                          type="button" 
                          >
                      {{ subject }}
                  </button>
              </li>
              {% endfor %}
          </ul>

          <!-- tabs based on subjects in views.py -->

          <div class="tab-content mt-3" id="subjectTabContent">
              {% for subject in subjects %}
              <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                  id="{{ subject|slugify }}"
                  role="tabpanel">
                
                  <div class="row">
                  <!-- sort courses based on tabs -->
                    {% for course in courses %}
                      {% if course.Subject == subject %}
                      <div class="col-md-4 mb-2">

                      <!-- store important data in value -->
                        <input type="checkbox" 
                              class="btn-check" 
                              name="selected_course" 
                              id="{{ subject|slugify }}-{{ course.Course_Number }}" 
                              value="{{ course.Title }}-{{ course.Course_Number }}"
                              {% if course.Title|add:"-"|add:course.Course_Number in classes %}checked{% endif %}
                              autocomplete="off"               
                              >
                              <!-- need to value check between slugified Title and course number with classes.  if so leave as checked.-->
                        <label class="btn btn-outline-danger w-100 p-4 text-start shadow-sm" for="{{ subject|slugify }}-{{ course.Course_Number }}"">
                          {{ course.Title }} ({{ course.Course_Number }})
                        </label>
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <button type="submit" class="btn btn-primary mt-3 p-3 h3 shadow">
                    <i class="fa-solid fa-circle-check"></i> Finish Setup
                  </button>
              </div>
              {% endfor %}
            </div>
          </form>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}