{% extends 'base.html' %}

{% load static %}

{% block title %}Leave a Review{% endblock %}



{% block content %}
<div class="bg-image-container"></div>
<div class="container mt-4 text-center">
    <div class="row">
        <div class="col">
            <img src="{% static 'westernlogo.png' %}" alt="LLC Logo" class="img-fluid mb-2" style="max-height: 120px;">
            <img src="{% static 'llclogo.png' %}" alt="LLC Logo" class="img-fluid mb-2" style="max-height: 120px;">
            <h1 style="color:white">Leave a Review</h1>
        </div>
    </div>
</div>

<style>
    .bg-image-container {
        position: fixed;
        width: 100%;
        height: 60%;
        z-index: -1;
        background-image: url('{% static "heroimage.png" %}');
        background-size: cover;
        background-position: center;
        filter: blur(4px);
    }
    

</style>

<div class="card p-2 m-4 shadow-lg text-center">
    <div class="card-body">
        <form method="POST" action="{% url 'monitor:leave_review' %}">
            {% csrf_token %}
            
            <!-- Star Rating First -->
            <div class="mb-4">
                <div id="star-rating" class="star-rating center mb-3">
                    <button type="button" class="btn btn-outline-warning star shadow-sm" data-value="1">&#9733;</button>
                    <button type="button" class="btn btn-outline-warning star shadow-sm" data-value="2">&#9733;</button>
                    <button type="button" class="btn btn-outline-warning star shadow-sm" data-value="3">&#9733;</button>
                    <button type="button" class="btn btn-outline-warning star shadow-sm" data-value="4">&#9733;</button>
                    <button type="button" class="btn btn-outline-warning star shadow-sm" data-value="5">&#9733;</button>
                </div>
                <p class="text-center">Your rating: <span id="rating-value">0</span> stars</p>
                {{ form.rating }}
            </div>

            <!-- Comments Second -->
            <div class="mb-3">
                <label for="written_review" class="form-label fs-3 text-center">Comments:</label>
                {{ form.written_review }}
            </div>

            <!-- Optional Tutor Selector Third -->
            <div class="mb-3">
                <p>{{ form.tutor.label_tag }}</p>
                {{ form.tutor }}
            </div>
            <p><i>*This review will anonymous</i></p>
            <button type="submit" class="btn btn-primary w-100 shadow-lg py-4 px-5 fs-2">Submit Review</button>
        </form>
    </div>
</div>


{% endblock %}
