{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block content %}

<!-- dynamic success page with interval -->
<div class="container mt-5 text-center">
    <div class="alert alert-info position-relative" style="z-index: 1;"> <!-- added position relative and z index for layout -->
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <h1 id="random"></h1>
            <h1>{{ message }}</h1>
        {% else %}
            <h2>{{ message }}</h2>
        {% endif %}
    {% endfor %}
    </div>  
</div>


<div class="container mt-4 position-relative" style="z-index: 2;">
    {% if request.GET.checkout_status %}
    <h2 class="text-white">Would you like to leave a review?</h2>
    <a href="{% url 'monitor:leave_review' %}" class="btn btn-success me-2">Yes</a>
    <a href="{% url 'monitor:index' %}" class="btn btn-secondary">No</a>
    {% endif %}
</div>



<script>
    // for fun :)
    const icons = [
        "fa-solid fa-hand-sparkles",
        "fa-solid fa-trophy",
        "fa-solid fa-thumbs-up",
        "fa-solid fa-hat-wizard",
        "fa-regular fa-face-smile"
    ];
    const randomIndex = Math.floor(Math.random() * icons.length);
    const selectedIcon = icons[randomIndex];
    
    const item = document.getElementById('random');
    item.innerHTML = `<i class="${selectedIcon}"></i>`;


    let timeLeft = 6;
    
    const countdown = setInterval(function() {
        timeLeft--;
        
        if (timeLeft <= 0) {
            clearInterval(countdown);
            window.location.href = "{% url 'monitor:index' %}";
        }
    }, 1000);
</script>

{% if confetti %}
    <script>
        // Launch the confetti effect if confetti is True
        launchConfetti();
    </script>
{% endif %}


{% endblock %}