{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="alert alert-info">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <h1>{{ message }}<h1>
        {% else %}
            <h2>{{ message }}</h2>
        {% endif %}
    {% endfor %}
    </div>  
</div>

<script>
    let timeLeft = 3;
    
    const countdown = setInterval(function() {
        timeLeft--;
        
        if (timeLeft <= 0) {
            clearInterval(countdown);
            window.location.href = "{% url 'monitor:index' %}";
        }
    }, 1000);
</script>
{% endblock %}